$black: rgb(24, 22, 22);
$white: rgb(255, 255, 255);
$gray: rgb(146, 144, 144);
$light-gray: rgb(185, 185, 185);
$baby-gray: rgb(248, 246, 246);
$blue: rgba(25, 108, 241, 0.842);
$dark-blue: rgb(23, 97, 182);
