@use './abstracts';
@use './components';
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap');

html { 
  overflow-y: scroll; // prevent jumping scrollbar issue
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}

a {
  text-decoration: none;
}

.content {
  margin: 4rem 0;

  .input__wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;

    input {
      border: abstracts.$border;
      border-radius: abstracts.$border-radius;
      border-color: abstracts.$light-gray;
      padding: 1rem;
      outline: none;

      &:active, &:focus {
        border-color: abstracts.$blue;
      }
    }
  }
}

.container {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 768px) {
    width: 750px;
  }

  @media (min-width: 992px) {
    width: 970px;
  }

  @media (min-width: 1200px) {
    width: 1170px;
  }
}
