@use '../abstracts';

.post {
  border: abstracts.$border;
  border-radius: abstracts.$border-radius;
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  transition: border-color 0.15s ease, box-shadow 0.15s ease;

  &:hover {
    border-color: abstracts.$blue;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.57);
  }

  &__link {
    display: flex;
    color: abstracts.$black;
    margin-bottom: 1.25rem;
  }

  &__info {
    margin-bottom: 5rem;
  }

  &__details {
    .comment {
      border: 1px solid abstracts.$light-gray;
      border-radius: abstracts.$border-radius;
      padding: 1rem;
      margin-bottom: 1.25rem;
    }
  }
}
