@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap");
.navbar {
  font-size: 1.25rem;
  border-bottom: 1px solid #b9b9b9;
}
.navbar ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1.25rem;
  list-style: none;
}
.navbar ul li {
  margin: 0 2rem;
}
.navbar ul li a {
  color: #181616;
  transition: color 0.25s ease;
}
.navbar ul li a:hover {
  color: rgba(25, 108, 241, 0.842);
}

.post {
  border: 1px solid #181616;
  border-radius: 4px;
  background-color: #f8f6f6;
  cursor: pointer;
  padding: 1.5rem;
  width: 100%;
  transition: box-shadow 0.15s ease;
}
.post:hover {
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5);
}
.post__link {
  display: flex;
  color: #181616;
  margin-bottom: 3rem;
}
.post__info {
  margin-bottom: 5rem;
}
.post__details .comment {
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: 1.25rem;
}
.post__user {
  font-size: 1.15rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.post__title {
  font-size: 1.35rem;
}
.post__body {
  margin-top: 0.35rem;
}
.post .comments {
  border: 1px solid #181616;
  border-color: #b9b9b9;
  border-radius: 4px;
  padding: 1rem;
}
.post .comments__title {
  margin: 2rem 0 0.5rem 0;
  font-weight: 700;
}
.post .comments .comment {
  margin-bottom: 1rem;
  padding: 1.5rem;
  border-bottom: 1px solid #181616;
  border-color: #b9b9b9;
}

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

a {
  text-decoration: none;
}

.content {
  margin: 4rem 0;
}
.content .input__wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}
.content .input__wrapper input {
  border: 1px solid #181616;
  border-radius: 4px;
  border-color: #b9b9b9;
  padding: 1rem;
  outline: none;
  font-size: 1rem;
}
.content .input__wrapper input:active, .content .input__wrapper input:focus {
  border-color: rgba(25, 108, 241, 0.842);
}

.container {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
